<div class="row g-4">
    <div class="col-lg-6 col-md-6">
        <div class="card h-100">
            <div class="card-header"><span class="icon">NET</span> Network Config</div>
            <div class="card-body">
                <p><span class="label-value">IP Address:</span><br><span class="value" id="lanIp">-</span></p>
                <p><span class="label-value">MAC Address:</span><br><span class="value" id="lanMac">-</span></p>
            </div>
        </div>
    </div>

    <div class="col-lg-6 col-md-6">
        <div class="card h-100">
            <div class="card-header"><span class="icon">RATE</span> Data Rate</div>
            <div class="card-body">
                <p><span class="label-value">TX Rate:</span><br><span class="value" id="txRate">-</span></p>
                <p><span class="label-value">RX Rate:</span><br><span class="value" id="rxRate">-</span></p>
            </div>
        </div>
    </div>

    <div class="col-lg-12 col-md-6">
        <div class="card h-100">
            <div class="card-header"><span class="icon">SIG</span> Signal Quality</div>
            <div class="card-body">
                <p><span class="label-value">RSSI Chain:</span><br><span class="value" id="rssiValue">-</span></p>
                <p><span class="label-value">RSSI Combined:</span><br><span class="value" id="rssiCombined">-</span></p>
                <p><span class="label-value">Noise Strength:</span><br><span class="value" id="noiseStrength">-</span></p>
                <p><span class="label-value">Noise Value:</span><br><span class="value" id="noiseValue">-</span></p>
                <p><span class="label-value">SNR:</span><br><span class="value" id="snr">-</span></p>
                <p><span class="label-value">Channel:</span><br><span class="value" id="channel">-</span></p>
            </div>
        </div>
    </div>
</div>

<div class="row g-4 mt-1">
    <div class="col-lg-6 col-md-6">
        <div class="card h-100">
            <div class="card-header"><span class="icon">Chart RSSI</span></div>
            <div class="card-body">
                <p class="chart-caption">Grafik RSSI ditampilkan terpisah di sisi kiri untuk memudahkan pembacaan tren sinyal.</p>
                <canvas id="cpeRssiChart" width="1000" height="240" class="chart-canvas"></canvas>
            </div>
        </div>
    </div>

    <div class="col-lg-6 col-md-6">
        <div class="card h-100">
            <div class="card-header"><span class="icon">Chart SNR</span></div>
            <div class="card-body">
                <p class="chart-caption">Grafik SNR ditampilkan di sisi kanan agar mudah dibandingkan dengan RSSI.</p>
                <canvas id="cpeSnrChart" width="1000" height="240" class="chart-canvas"></canvas>
            </div>
        </div>
    </div>

</div>
